[submodule "pack/pack/start/echodoc"]
	path = pack/pack/start/echodoc
	url = https://github.com/Shougo/echodoc
[submodule "pack/pack/start/vim-surround"]
	path = pack/pack/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/pack/start/vim-markdown"]
	path = pack/pack/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "pack/pack/start/vim-better-whitespace"]
	path = pack/pack/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "pack/pack/start/vim-dirvish"]
	path = pack/pack/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "pack/pack/start/ctrlp.vim"]
	path = pack/ctrlp/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/pack/start/ctrlp-extensions.vim"]
	path = pack/ctrlp/start/ctrlp-extensions.vim
	url = https://github.com/sgur/ctrlp-extensions.vim
[submodule "pack/pack/start/ctrlp-funky"]
	path = pack/ctrlp/start/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky
[submodule "pack/pack/start/vim-localrc"]
	path = pack/pack/start/vim-localrc
	url = https://github.com/thinca/vim-localrc
[submodule "pack/pack/start/vim-go"]
	path = pack/pack/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/pack/start/lightline.vim"]
	path = pack/pack/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/pack/start/vim-bufferline"]
	path = pack/pack/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "pack/pack/start/gruvbox"]
	path = pack/colorscheme/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/pack/start/vim-alignta"]
	path = pack/pack/start/vim-alignta
	url = https://github.com/h1mesuke/vim-alignta.git
[submodule "pack/pack/start/memolist.vim"]
	path = pack/pack/start/memolist.vim
	url = https://github.com/glidenote/memolist.vim.git
[submodule "pack/pack/start/ctrlp-memolist.vim"]
	path = pack/ctrlp/start/ctrlp-memolist.vim
	url = https://github.com/sgur/ctrlp-memolist.vim.git
[submodule "pack/pack/start/sonictemplate-vim"]
	path = pack/pack/start/sonictemplate-vim
	url = https://github.com/mattn/sonictemplate-vim.git
[submodule "pack/pack/start/vim-easymotion"]
	path = pack/pack/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/pack/start/emmet-vim"]
	path = pack/pack/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/pack/start/vim-colors-solarized"]
	path = pack/colorscheme/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/pack/start/vim-lsp"]
	path = pack/pack/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/pack/start/async.vim"]
	path = pack/util/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "pack/pack/start/typescript-vim"]
	path = pack/pack/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/pack/start/tsuquyomi"]
	path = pack/pack/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "pack/pack/start/omnisharp-vim"]
	path = pack/pack/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
